<div class="dummy-body select">
  <div class="section-header">frost-select</div>

  <p>In order to use this component you must provide an outlet for it to render the dropdown in like so:</p>

  <div class="snippet">
    {{format-markdown "```handlebars
{{frost-select-outlet
  hook='selectOutlet'
}}
```"}}
  </div>

  <p>In the event you want to render different selects in different outlets you may also used named outlets like so:</p>

  <div class="snippet">
    {{format-markdown "```handlebars
{{frost-select-outlet
  hook='namedSelectOutlet'
  name='foo-bar'
}}
…
{{frost-select
  hook='mySelect'
  label='superhero'
  renderTarget='foo-bar'
  …
}}
```"}}
  </div>

  <div class="section-title">Content</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">data</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">clearing</div>
      <i>works by setting the property being passed as 'selectedValue' to an empty string<br></i>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selectedValue=preSelectedValueForClearing
          onChange=(action 'onChangeClearable')
        }}
        {{frost-button text='Clear'
          hook='clearButton'
          onClick=(action 'onClearSelect')
          priority='secondary'
          size='small'
          text='Clear'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  selectedValue=preSelectedValueForClearing
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Options</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">autofocus</div>
      <div class="demo">
        {{frost-select
          autofocus=true
          data=data
          hook='mySelect'
          label='superhero'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  autofocus=true
  data=data
  hook='mySelect'
  label='superhero'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">placeholder</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          placeholder="Superhero"
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  placeholder='Superhero'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">selected</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selected=selectedIndex
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  selected=selectedIndex
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">selectedValue</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selectedValue=preSelectedValue
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  selectedValue=preSelectedValue
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">width</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          width=width
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  width=width
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">State</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selected=selectedIndex
          error=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  selected=selectedIndex
  error=true
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selectedValue=preSelectedValue
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  selectedValue=preSelectedValue
  disabled=true
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">Events</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">onBlur</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          onBlur=(action 'onBlurHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  onBlur=(action 'onBlurHandler')
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">onChange - local filtering</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          onChange=(action 'onChangeHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  onChange=(action 'onChangeHandler')
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput - external filtering</div>
      <div class="demo">
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          selectedValue=externalSelectedValue
          onChange=(action 'onChangeHandler')
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-select
  data=data
  hook='mySelect'
  label='superhero'
  onChange=(action 'onChangeHandler')
  onInput=(action 'onInputHandler')
}}
```"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET select-other-spread }}
        {{frost-select
          options=(hash
            data=data
            hook='mySelect'
            label='superhero'
            selected=selectedIndex
            error=true
          )
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='select-other-spread.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>wrapLabels</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET select-other-wrap-labels }}
        {{frost-select
          data=data
          hook='myMultiSelect'
          wrapLabels=true
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='select-other-wrap-labels.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>filterType - contains is the default</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET select-filter-type }}
        {{frost-select
          data=data
          hook='myMultiSelect'
          filterType='startsWith'
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='select-filter-type.hbs'}}
      </div>
    </div>
  </div>
</div>


<div class="dummy-body select">
  <div class="section-header">frost-multi-select</div>

  <div class="section-title">Content</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">data</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Selection</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">autofocus</div>
      <div class="demo">
        {{frost-multi-select
          autofocus=true
          data=data
          hook='myMultiSelect'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  autofocus=true
  data=data
  hook='myMultiSelect'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">placeholder</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          placeholder="Superheroes"
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  placeholder='Superheroes'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">selected</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          selected=selectedIndices
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  selected=selectedIndices
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">selectedValue</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          selectedValue=selectedValues
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  selectedValue=selectedValues
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">State</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          error=true
          hook='myMultiSelect'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  error=true
  hook='myMultiSelect'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          disabled=true
          hook='myMultiSelect'
          selectedValue=preSelectedValue
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  disabled=true
  hook='myMultiSelect'
  selectedValue=preSelectedValue
}}
```"}}
      </div>
    </div>
  </div>


  <div class="section-title">Events</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">onBlur</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          onBlur=(action 'onBlurHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  onBlur=(action 'onBlurHandler')
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">onChange - local filtering</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          onChange=(action 'onChangeHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  onChange=(action 'onChangeHandler')
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput - external filtering</div>
      <div class="demo">
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          onChange=(action 'onChangeHandler')
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  hook='myMultiSelect'
  onChange=(action 'onChangeHandler')
  onInput=(action 'onInputHandler')
}}
```"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET multi-select-other-spread }}
        {{frost-multi-select
          options=(hash
            data=data
            error=true
            hook='myMultiSelect'
          )
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='multi-select-other-spread.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>wrapLabels</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET multi-select-other-wrap-labels }}
        {{frost-multi-select
          data=data
          hook='myMultiSelect'
          wrapLabels=true
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='multi-select-other-wrap-labels.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>debounceInterval</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET debounce-interval }}
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          debounceInterval=1000
          onInput=(action 'onInputHandler')
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='debounce-interval.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>filterType - contains is the default</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET filter-type }}
        {{frost-select
          data=data
          hook='mySelect'
          label='superhero'
          filterType='startsWith'
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='filter-type.hbs'}}
      </div>
    </div>
  </div>
</div>
