<div class="section">
  <div class="title">frost-select</div>
</div>
<div class="section">
  <div class="example">
    <div class="title">Local filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  onChange=(action 'onChangeHandler')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        onChange=(action 'onChangeHandler')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Pre-selected index</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  onChange=(action 'onChangeHandler')
  selected=selectedIndex
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        onChange=(action 'onChangeHandler')
        selected=selectedIndex
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Pre-selected value</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  onChange=(action 'onChangeHandler')
  selectedValue=preSelectedValue
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        onChange=(action 'onChangeHandler')
        selectedValue=preSelectedValue
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">External filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  onChange=(action 'onChangeHandler')
  onInput=(action 'onInputHandler')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        onChange=(action 'onChangeHandler')
        onInput=(action 'onInputHandler')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Disabled</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  disabled=true
  onChange=(action 'onChangeHandler')
  selected=selectedIndex
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        disabled=true
        onChange=(action 'onChangeHandler')
        selected=selectedIndex
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Error</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-select
  data=data
  error=true
  onChange=(action 'onChangeHandler')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-select
        data=data
        error=true
        onChange=(action 'onChangeHandler')
      }}
    </div>
  </div>
</div>


<div class="section">
  <div class="title">frost-multi-select</div>
</div>
<div class="section">
  <div class="example">
    <div class="title">Local filtering</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  onChange=(action 'onChangeHandler')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        onChange=(action 'onChangeHandler')
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Multiple pre-selected indices</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  onChange=(action 'onChangeHandler')
  selected=selectedIndices
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        onChange=(action 'onChangeHandler')
        selected=selectedIndices
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Multiple pre-selected values</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  onChange=(action 'onChangeHandler')
  selectedValue=selectedValues
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        onChange=(action 'onChangeHandler')
        selectedValue=selectedValues
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Disabled</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  disabled=true
  onChange=(action 'onChangeHandler')
  selected=selectedIndices
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        disabled=true
        onChange=(action 'onChangeHandler')
        selected=selectedIndices
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Error</div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-multi-select
  data=data
  error=true
  onChange=(action 'onChangeHandler')
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-multi-select
        data=data
        error=true
        onChange=(action 'onChangeHandler')
      }}
    </div>
  </div>
</div>
