<div class="dummy-body">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-loading}}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-loading}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Options</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class='title'>type</div>
      <div class="demo">
        {{frost-loading
          type='ring'
        }}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-loading
  type='ring'
}}
```"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET loading-other-spread }}
        {{frost-loading
          options=(hash
            type='ring'
          )
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='loading-other-spread.hbs'}}
      </div>
    </div>
  </div>
</div>
