<div class="dummy-body password">

  <div class="section-title">Default</div>
  <hr>

  <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-password}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password}}
```"
        }}
      </div>
    </div>
  </div>


  <div class="section-title">State</div>
  <hr>

  <div class="section">

  <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{frost-password
          class="error"
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  class='error'
}}
```"
        }}
      </div>
  </div>

  <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-password
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  disabled=true
}}
```"
        }}
      </div>
    </div>
  </div>

  <div class="section-title">Options</div>
  <hr>

  <div class="section">
    <div class="example">
      <div class="title">revealable</div>
      <div class="demo">
        {{frost-password
          revealable=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  revealable=true
}}
```"
        }}
      </div>
    </div>
    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-password
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  tabindex='-1'
}}
```"
        }}
      </div>
    </div>
</div>

<div class="section-title">Events</div>
<hr>

  <div class="section">

    <div class="example">
      <div class="title">onFocusOut</div>
      <div class="demo">
        {{frost-password
          onFocusOut=(action 'onBlurHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  onFocusOut=(action 'onBlurHandler')
}}
```"
        }}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{frost-password
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-password
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>

  </div>
</div>
