<div class='dummy-body expand'>

  <div class='section-title'>Expression</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">text</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-expression-text}}
        {{frost-expand
          hook='myExpand'
          content='Expanded content.'
          expanded=expanded1
          onChange=(action 'onChangeHandler1')
        }}
        {{! END-SNIPPET expand-expression-text}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-expression-text.hbs"}}
      </div>
    </div>
    <div class="example">
      <div class="title">component</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-expression-component}}
        {{frost-expand
          hook='myExpand'
          expanded=expanded2
          onChange=(action 'onChangeHandler2')
          content=(component 'frost-icon'
                    hook='myIcon'
                    icon='error'
                  )
        }}
        {{! END-SNIPPET expand-expression-component}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-expression-component.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Block</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">text</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-block-text}}
        {{#frost-expand
          hook='myExpand'
          expanded=expanded3
          onChange=(action 'onChangeHandler3')
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-block-text}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-block-text.hbs"}}
      </div>
    </div>
    <div class="example">
      <div class="title">component</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-block-component}}
        {{#frost-expand
          hook='myExpand'
          expanded=expanded4
          onChange=(action 'onChangeHandler4')
        }}
          {{frost-icon
            hook='myIcon'
            icon='error'
          }}
        {{/frost-expand}}
        {{! END-SNIPPET expand-block-component}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-block-component.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Set Labels</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{! BEGIN-SNIPPET expand-set-labels}}
        {{#frost-expand
          hook='myExpand'
          expandLabel='View information'
          collapseLabel='Hide information'
          expanded=expanded5
          onChange=(action 'onChangeHandler5')
        }}
          Detailed information.
        {{/frost-expand}}
        {{! END-SNIPPET expand-set-labels}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-set-labels.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Set Animation Duration</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">default</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-default-duration}}
        {{#frost-expand
          hook='myExpand'
          expanded=expanded6
          onChange=(action 'onChangeHandler6')
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-default-duration}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-default-duration.hbs"}}
      </div>
    </div>

    <div class="example">
      <div class="title">custom</div>
      <div class="demo">
        {{! BEGIN-SNIPPET expand-custom-duration}}
        {{#frost-expand
          hook='myExpand'
          animationDuration=2000
          expanded=expanded6
          onChange=(action 'onChangeHandler6')
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-custom-duration}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-custom-duration.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Events</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{! BEGIN-SNIPPET expand-events}}
        {{#frost-expand
          hook='myExpand'
          onChange=(action 'onChangeHandler7')
          expanded=expanded7
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-events}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-events.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Label Component</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{! BEGIN-SNIPPET expand-label-component}}
        {{#frost-expand
          hook='myExpand'
          onChange=(action 'onChangeHandler9')
          expanded=expanded9
          labelComponent=(component 'frost-icon'
                          hook='myIcon'
                          icon='info'
                        )
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-label-component}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-label-component.hbs"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Only Change On Chevron Click</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{! BEGIN-SNIPPET expand-chevron-click}}
        {{#frost-expand
          hook='myExpand'
          onChange=(action 'onChangeHandler10')
          expanded=expanded10
          isChevronOnlyClickTrigger=true
        }}
          Expanded content.
        {{/frost-expand}}
        {{! END-SNIPPET expand-chevron-click}}
      </div>
      <br>
      <div class="snippet">
        {{code-snippet name="expand-chevron-click.hbs"}}
      </div>
    </div>
  </div>
</div>
