<div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>

<div class="dummy-body text-input field">
    <div class="section">
      <div class="example">
        <div class="title">Basic</div>
                <div class="demo">
          {{frost-text}}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-text}}
  ```"
          }}
        </div>
      </div>
      <div class="example">
          <div class="title">Autofocus</div>
        <div class="demo">
            {{frost-text
              autofocus=true
            }}
          </div>
        <div class="snippet">
            {{format-markdown "```handlebars
{{frost-text
  autofocus=true
}}
    ```"
            }}
          </div>
      </div>
      <div class="example">
        <div class="title">Placeholder</div>
         <div class="demo">
          {{frost-text
            placeholder='basic field'
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-text
  placeholder='basic field'
}}
    ```"
          }}
        </div>
      </div>
      <div class="example">
        <div class="title">Error</div>
         <div class="demo">
            {{frost-text
              class="error"
            }}
          </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-text
  class='error'
}}
  ```"
          }}
          </div>
      </div>

      <div class="example">
        <div class="title">Align</div>
        <div class="demo">
          {{frost-text
            align='right'
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-text
  align='right'
}}
    ```"
          }}
        </div>
      </div>
        <div class="example">
          <div class="title">Disabled</div>
          <div class="demo">
            {{frost-text
            disabled=true
            }}
          </div>
          <div class="snippet">
            {{format-markdown "```handlebars
{{frost-text
  disabled=true
}}
    ```"
            }}
          </div>
      </div>

      <div class="example">
        <div class="title">Read-only</div>
        <div class="demo">
          {{frost-text
          readonly=true
          value="Read only text"
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-text
  readonly=true
  value='Read only text'
}}
    ```"
}}
        </div>
      </div>
  </div>

  <hr>

  <div class='section'>
    <div class="example">
      <div class="title">Events: onInput</div>
      <div class="demo">
        {{frost-text
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-text
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>
  </div>
</div>
