<div class="dummy-body scroll">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo scroll-size">
        {{! BEGIN-SNIPPET scroll }}
        {{#frost-scroll class='full'
          hook='myScroll'
        }}
          {{frost-icon
            class='dummy-svg-huge'
            hook='hugeIcon1'
            icon='add'
          }}
        {{/frost-scroll}}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        <div>Template</div>
        {{code-snippet name='scroll.hbs'}}
      </div>
    </div>
  </div>

  <div class="section-title">Events</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo scroll-size">
        {{! BEGIN-SNIPPET scroll-events }}
        {{#frost-scroll class='full'
          hook='myEventsScroll'
          onScrollUp=(action 'onScrollUp')
          onScrollDown=(action 'onScrollDown')
          onScrollYStart=(action 'onScrollYStart')
          onScrollYEnd=(action 'onScrollYEnd')
          onScrollX=(action 'onScrollX')
          onScrollRight=(action 'onScrollRight')
          onScrollLeft=(action 'onScrollLeft')
          on-scroll-y-end=(action 'yEndReached')
        }}
          {{frost-icon
            class='dummy-svg-huge'
            hook='hugeIcon2'
            icon='add'
          }}
        {{/frost-scroll}}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        <div>Template</div>
        {{code-snippet name='scroll-events.hbs'}}
        <br>
        <div>Controller</div>
        {{code-snippet name='scroll-controller.js'}}
      </div>
    </div>
  </div>

  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo scroll-size'>
        {{! BEGIN-SNIPPET scroll-other-spread }}
        {{#frost-scroll
          class='full'
          options=(hash
            hook='myScroll'
          )
        }}
          {{frost-icon
            class='dummy-svg-huge'
            hook='hugeIcon3'
            icon='add'
          }}
        {{/frost-scroll}}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='scroll-other-spread.hbs'}}
      </div>
    </div>
    <div class='example'>
      <div class='title'>Refresh on mouse enter</div>
      <div style='display: none'>
        {{! BEGIN-SNIPPET scroll-other-refreshOnMouseEnter }}
        {{#frost-scroll
          class='full'
          hook='refreshOnMouseEnter'
          refreshOnMouseEnter=true
        }}
        {{/frost-scroll}}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='scroll-other-refreshOnMouseEnter.hbs'}}
      </div>
    </div>
  </div>
</div>
