<div class='dummy-body button'>
    <div class='section-title'>Toggle button</div>
    <hr>
    <div class='section'>
        <div class='example'>
            <div class='title'>action syntax</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-action }}
              {{frost-toggle
                hook='myToggle'
                value=value1
                onClick=(action 'toggleHandler1')
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-action.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>mut syntax</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-mut }}
              {{frost-toggle
                hook='myToggle'
                value=value2
                onClick=(mut value2)
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-mut.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>action mut syntax</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-action-mut }}
              {{frost-toggle
                hook='myToggle'
                value=value3
                onClick=(action (mut value3) value="target.value")
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-action-mut.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>label</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-label }}
              {{frost-toggle
                hook='myToggle'
                value=value4
                trueLabel='Englishtext'
                falseLabel='Fr'
                onClick=(action (mut value4) value="target.value")
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-label.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>value</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-value }}
              {{frost-toggle
                hook='myToggle'
                value=value5
                trueValue='true Value'
                falseValue='false Value'
                onClick=(action 'toggleHandler5')
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-value.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>label and value</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-value-label }}
              {{frost-toggle
                hook='myToggle'
                value=value6
                trueLabel='true'
                falseLabel='false'
                trueValue='on Value'
                falseValue='off Value'
                onClick=(action 'toggleHandler6')
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-value-label.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>toggled on init</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-init }}
              {{frost-toggle
                hook='myToggle'
                value=value7
                trueValue='trueValue'
                falseValue='falseValue'
                onClick=(action 'toggleHandler7')
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-init.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>value mapping</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-mapping }}
              {{frost-toggle
                hook='myToggle'
                value=value8
                trueValue='enable'
                onClick=(action (mut value8) value="target.value")
              }}
              {{input value=value8}}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-mapping.hbs'}}
            </div>
        </div>

        <div class='example'>
            <div class='title'>disabled</div>
            <div class='demo'>
              {{! BEGIN-SNIPPET toggle-disabled }}
              {{frost-toggle
                hook='myToggle'
                value=value9
                disabled=true
                onClick=(mut value9)
              }}
              {{! END-SNIPPET }}
            </div>
            <div class='snippet'>
              {{code-snippet name='toggle-disabled.hbs'}}
            </div>
        </div>
    </div>

    <div class='section-title'>Other</div>
    <hr>
    <div class='section'>
      <div class='example'>
        <div class='title'>Spread</div>
        <div class='demo'>
          {{! BEGIN-SNIPPET toggle-other-spread }}
          {{frost-toggle
            options=(hash
              disabled=true
              hook='myToggle'
              value=value9
            )
            onClick=(mut value9)
          }}
          {{! END-SNIPPET }}
        </div>
        <div class='snippet'>
          {{code-snippet name='toggle-other-spread.hbs'}}
        </div>
      </div>
    </div>
</div>
