<div class='frost-select-overlay' onclick={{onClose}} />
<div
  class={{if (eq top 'auto') 'frost-select-down-arrow' 'frost-select-up-arrow'}}
  style={{arrowStyle}}
/>
<div
  class='frost-select-dropdown'
  data-test={{hook (concat receivedHook '-list')}}
  onmousedown={{action 'mouseDown'}}
  style={{listStyle}}
>
  {{frost-text
    onInput=onFilterInput
    value=filter
  }}
  {{#if multiselect}}
    <div class='multi-status'>
      <span class='number-selected'>{{selectedItems.length}} selected</span>
      {{frost-button
        class='frost-select-clear'
        onClick=(action 'clear')
        priority='tertiary'
        text='Clear all'
      }}
    </div>
  {{/if}}
  <ul>
    {{#if showEmptyMessage}}
      <div class="frost-select-dropdown-empty-msg">
        {{#if filter}}
          No items match your filter.
        {{else}}
          No items.
        {{/if}}
      </div>
    {{/if}}
    {{#each renderItems as |item index|}}
      {{#frost-select-li
        class=item.className
        data=item
        hook=(concat receivedHook '-item-' index)
        onItemOver=(action 'focusOnItem')
        onSelect=(action 'selectItem')
      }}
        {{#if multiselect}}
          {{frost-checkbox
            checked=item.selected
            hook=(concat receivedHook '-checkbox-item-' index)
            onInput=onCheck
            size='medium'
            value=item.index
          }}
        {{/if}}
        {{item.label}}
      {{/frost-select-li}}
    {{/each}}
  </ul>
</div>
