<span>
    <input
      id="input-{{elementId}}"
      name={{name}}
      type='checkbox'
      checked={{toggled}}
      class='frost-toggle'
      disabled={{disabled}}
    >
  <div
    id="visual-{{elementId}}"
    class="frost-toggle-btn frost-toggle {{size}} {{if disabled 'frost-toggle-disabled'}}"
    for="input-{{elementId}}"
  >
      <div class="frost-toggle-text off">{{if offLabel offLabel 'Off'}}</div>
      <div class="frost-toggle-text on">{{if onLabel onLabel 'On'}}</div>
  </div>
</span>