{{#if hasBlock}}
  {{#if (eq design 'info-bar')}}
    <div class='content '>
      <div class=' text'>
        <div class='svg'>{{frost-icon icon=icon}}</div>
        {{yield}}
        </div>
    </div>
  {{else if (eq design 'in-line')}}
     <div class='content text'>
        {{yield}}
      </div>
  {{else if priority}}
    {{#if (eq priority 'primary')}}
      <div class='content text'>
        {{yield}}
          <div class='svg'>{{frost-icon icon='new-tab'}}</div>
      </div>
    {{else if (eq priority 'secondary')}}
      <div class='content'>
        <div class='text'>
          {{yield}}
        </div>
      </div>
    {{/if}}
  {{else}}
    {{yield}}
  {{/if}}
{{else}}
  {{#if (eq priority 'primary')}}
    <div class='content text'>
      {{linkTitle}}
        <div class='svg'>{{frost-icon icon='new-tab'}}</div>
    </div>
  {{else if (eq priority 'secondary')}}
    <div class='content'>
      <div class='text'>
        {{linkTitle}}
      </div>
    </div>
  {{else}}
    {{linkTitle}}
  {{/if}}
{{/if}}
