<input
  class="trigger"
  disabled={{disableInput}}
  data-test={{hook (concat hook '-input')}}
  onBlur={{action 'onBlur'}}
  onFocus={{action 'onFocus'}}
  onInput={{action 'onChange'}}
  placeholder={{placeholder}}
  type="text"
  value={{prompt}}
>

<div class="down-arrow" onClick={{action 'onClickArrow'}}>
  <svg viewBox='0 0 15 15'>
    <polygon points='7.5,11.4 1.1,5 2.5,3.6 7.5,8.6 12.5,3.6 13.9,5'/>
  </svg>
</div>

{{#if open}}
  {{to-elsewhere
    named=renderTarget
    send=(component 'frost-select-dropdown'
      element=element
      items=displayItems
      multiselect=true
      onCheck=(action 'onCheck')
      onClear=(action 'clearSelection')
      onItemOver=(action 'onItemOver')
      onSelect=(action 'onSelect')
      receivedHook=hook
      selected=selected
    )
  }}
{{/if}}
