<label>
  <input
    checked={{checked}}
    class="frost-radio-button-input"
    data-test={{hook (concat hook '-input')}}
    disabled={{disabled}}
    required={{required}}
    type="radio"
    value={{value}}
  >
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="12.5" y1="0" x2="12.5" y2="25">
      <stop offset="1.076729e-07" style="stop-color:#F5FCFF" />
      <stop offset="1" style="stop-color:#E8EFF2" />
    </linearGradient>
    <circle fill="url(#SVGID_1_)" cx="12.5" cy="12.5" r="12.5" />
    <path class='ring' d="M12.5,1C18.8,1,24,6.2,24,12.5S18.8,24,12.5,24S1,18.8,1,12.5S6.2,1,12.5,1 M12.5,0C5.6,0,0,5.6,0,12.5
      S5.6,25,12.5,25S25,19.4,25,12.5S19.4,0,12.5,0L12.5,0z" />
    <circle class="inner" cx="12.5" cy="12.5" r="7.5" />
  </svg>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{label}}
  {{/if}}
</label>
