<input
  class='frost-toggle-input {{if _isToggled 'is-toggled'}}'
  checked={{_isToggled}}
  disabled={{disabled}}
  form={{form}}
  id={{concat elementId '-input'}}
  name={{name}}
  type='checkbox'
>

{{#frost-toggle-label
  disabled=disabled
  id=(concat elementId '-visual')
  for=(concat elementId '-input')
  size=size

  change=_eventProxy.change
  click=(action '_onClick')
  contextMenu=_eventProxy.contextMenu
  doubleClick=_eventProxy.doubleClick
  drag=_eventProxy.drag
  dragEnd=_eventProxy.dragEnd
  dragEnter=_eventProxy.dragEnter
  dragLeave=_eventProxy.dragLeave
  dragOver=_eventProxy.dragOver
  dragStart=_eventProxy.dragStart
  drop=_eventProxy.drop
  focusIn=_eventProxy.focusIn
  focusOut=_eventProxy.focusOut
  input=_eventProxy.onInput
  keyDown=_eventProxy.keyDown
  keyPress=_eventProxy.keyPress
  key-up=_eventProxy.keyUp
  mouseDown=_eventProxy.mouseDown
  mouseEnter=_eventProxy.mouseEnter
  mouseLeave=_eventProxy.mouseLeave
  mouseMove=_eventProxy.mouseMove
  mouseUp=_eventProxy.mouseUp
  submit=_eventProxy.submit
  touchCancel=_eventProxy.touchCancel
  touchEnd=_eventProxy.touchEnd
  touchMove=_eventProxy.touchMove
  touchStart=_eventProxy.touchStart

  escape-press=_eventProxy.escape-press
  insert-newline=_eventProxy.enter
}}
  <div class="frost-toggle-text off">{{if falseLabel _falseLabel 'Off'}}</div>
  <div class="frost-toggle-text on">{{if trueLabel _trueLabel 'On'}}</div>
{{/frost-toggle-label}}