<div class="frost-error-description" data-test={{hook (concat hook '-description')}}>
  {{description}}
</div>
<div class="frost-error-suggestion" data-test={{hook (concat hook '-suggestion')}}>
  {{suggestion}}
</div>
<div class="frost-error-http-error" data-test={{hook (concat hook '-http-error')}}>
  Error {{errorCode}} - {{errorTitle}}
</div>
<div class="frost-error-message" data-test={{hook (concat hook '-message')}}>
  {{errorMessage}}
</div>
{{#frost-expand
  class="frost-error-expand"
  hook=(concat hook '-expand')
  expanded=false
  duration="fast"
  expandLabel="Show details"
  collapseLabel="Hide details"
  expanded=showDetails
}}
  <div class="frost-error-details" data-test={{hook (concat hook '-details')}}>{{errorDetails}}</div>
{{/frost-expand}}
