{{! Template for the frost-button component }}
{{#if (eq design 'info-bar')}}
  <div class='content'>
    <div class=' text'>
      <div class='svg'>
        {{frost-icon
          hook=(concat hook '-icon')
          icon=icon
          pack=pack
        }}
      </div>
      <div class="text">{{text}}</div>
      </div>
  </div>
{{else if (eq design 'in-line')}}
  <div class="text">{{text}}</div>
{{else}}
  {{#if isTextOnly}}
    <div class="text">{{text}}</div>
  {{/if}}
  {{#if isIconOnly}}
    <div class="icon">
      {{frost-icon
        hook=(concat hook '-icon')
        icon=icon
        pack=pack
      }}
    </div>
  {{/if}}
  {{#if isIconAndText}}
    <div class="icon-text text">
      {{frost-icon
        hook=(concat hook '-icon')
        icon=icon
        pack=pack
      }}
      <div class="text">{{text}}</div>
    </div>
  {{/if}}
{{/if}}

{{yield}}
