<input
  autocomplete=false
  autofocus={{autofocus}}
  class="trigger"
  disabled={{disabled}}
  onFocus={{action 'onFocus'}}
  onBlur={{action 'onBlur'}}
  onInput={{action 'onChange'}}
  placeholder={{placeholder}}
  type="text"
  value={{prompt}}
>

<div class="down-arrow" onClick={{action 'onClickArrow'}}>
  <svg viewBox="0 0 15 15">
    <polygon points="7.5,11.4 1.1,5 2.5,3.6 7.5,8.6 12.5,3.6 13.9,5"/>
  </svg>
</div>

<div class="drop-down-container">
  <div class="list-container">
    <div class="up-arrow"></div>
    <ul ref="container" style={{containerStyle}}>
      {{#each displayItems as |item|}}
        {{#frost-select-li
          class=item.className
          data=item
          onSelect=(action 'onSelect')
          onItemOver=(action 'onItemOver')
        }}
          {{item.label}}
        {{/frost-select-li}}
      {{/each}}
    </ul>
  </div>
</div>
{{yield}}
