<div class="dummy-body">
  <div class="section-title">frost-core</div>
  <hr>
  <li class='list-item'>{{link-to 'Auto Complete' 'autocomplete'}}</li>
  <li class='list-item'>{{link-to 'Bookends' 'bookends'}}</li>
  <li class='list-item'>{{link-to 'Button' 'button'}}</li>
  <li class='list-item'>{{link-to 'Checkbox' 'checkbox'}}</li>
  <li class='list-item'>{{link-to 'Color palette' 'palette'}}</li>
  <li class='list-item'>{{link-to 'Icons' 'icons'}}</li>
  <li class='list-item'>{{link-to 'Layout' 'layout'}}</li>
  <li class='list-item'>{{link-to 'Link' 'link'}}</li>
  <li class='list-item'>{{link-to 'Loading' 'loading'}}</li>
  <li class='list-item'>{{link-to 'Password' 'password'}}</li>
  <li class='list-item'>{{link-to 'Radio' 'radio'}}</li>
  <li class='list-item'>{{link-to 'Scroll' 'scroll'}}</li>
  <li class='list-item'>{{link-to 'Select' 'select'}}</li>
  <li class='list-item'>{{link-to 'Text area' 'area'}}</li>
  <li class='list-item'>{{link-to 'Text field' 'field'}}</li>
  <li class='list-item'>{{link-to 'Toggle' 'toggle'}}</li>
  <li class='list-item'>{{link-to 'Expand' 'expand'}}</li>
  <li class='list-item'>{{link-to 'Ajax Error Page' 'ajax-error-page'}}</li>
  <li class='list-item'>{{link-to 'Typography' 'typography'}}</li>
  <li class='list-item'>{{link-to 'Helpers' 'helpers'}}</li>
</div>
{{outlet}}
