<div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>

<div class='dummy-body checkbox'>

  <div class="section-title">Frost Radio Button</div>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{#each sampleList as |i|}}
          {{#frost-radio-button
            value=i
            groupValue=groupName
            changed='change'
          }}{{i}}{{/frost-radio-button}}
      {{/each}}
      </div>
      <div class='snippet'>
        {{format-markdown
"```handlebars
{{#each sampleList as |i|}}
  {{#frost-radio-button
    value=i
    groupValue=groupName
    changed='change'
  }}{{i}}

  {{/frost-radio-button}}
{{/each}}```"}}
      </div>
      <br/>
      <div>
        {{format-markdown "```handlebars
export default Controller.extend({
  sampleList: [1,2,3,4,5],
  actions: {
    change (value) {
      this.notifications.addNotification({
        message: `Value changed to ${value}`,
        type: 'success',
        autoClear: true,
        clearDuration: 2000
      })
    }
  }
})```"}}
      </div>
    </div>

  </div>

</div>
