<div class="dummy-body link">
  <div class="section-title">Primary</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySmallLink'
          priority='primary'
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='mySmallLink'
  priority='primary'
  size='small'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='primary'
          size='medium'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='primary'
  size='medium'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='primary'
          size='large'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='primary'
  size='large'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='primary'
          size='small'
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='primary'
  size='small'
  disabled=true
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='primary'
          size='small'
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
    {{frost-link 'Text' 'link.min'
      priority='primary'
      size='small'
      tabindex='-1'
    }}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">multiple routes</div>
      <div class="demo">
        {{frost-link 'Text'
          routeNames=(array 'link.min' 'link.max')
          hook='mySmallLink'
          priority='primary'
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
    {{frost-link 'Text'
      routeNames=(array
        'link.min'
        'link.max')
      hook='mySmallLink'
      priority='primary'
      size='small'
    }}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">multiple routes - block format</div>
      <div class="demo">
        {{#frost-link
          routeNames=(array 'link.min' 'link.max' 'link.middle')
          hook='mySmallLink'
          priority='primary'
          size='small'
        }}
          Text
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
    {{#frost-link
      routeNames=(array
        'link.min'
        'link.max'
        'link.middle')
      hook='mySmallLink'
      priority='primary'
      size='small'
    }}
      Text
    {{/frost-link}}
  ```"}}
      </div>
    </div>
  </div>

  <div class="section-title">Secondary</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='secondary'
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='secondary'
  size='small'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='secondary'
          size='medium'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='secondary'
  size='medium'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='secondary'
          size='large'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'Text' 'link.min'
  priority='secondary'
  size='large'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='secondary'
          size='small'
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='secondary'
  size='small'
  disabled=true
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          priority='secondary'
          size='small'
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  priority='secondary'
  size='small'
  tabindex='-1'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Design</div>
  <hr>
  <div class="section">

  <div class="example">
      <div class="title">inline (font based on size)</div>
      <div class="demo">
        <div class='extra-padding'>
          <span style="font-size: {{fontSize}}px">
            lorem
            {{#frost-link 'link.min'
              design='inline'
            }}
              link
            {{/frost-link}}
            Ipsum
          </span>
        </div>
        <div>
          {{frost-button
            onClick=(action 'increase' fontSize)
            priority='primary'
            size='small'
            text='Increase font'
          }}

          {{frost-button
            onClick=(action 'decrease' fontSize)
            priority='primary'
            size='small'
            text='Decrease font'
          }}
        </div>
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

     <div class="example">
      <div class="title">disabled inline</div>
      <div class="demo">
        lorem
        {{#frost-link 'link.min'
          design='inline'
          disabled=true
        }}
          link
        {{/frost-link}}
        ipsum
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
  disabled=true
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar'
          icon='infobar-find'
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar'
  icon='infobar-find'
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar'
          icon='infobar-find'
          disabled=true
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar'
  icon='infobar-find'
  disabled=true
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>


  </div>

  <div class="section-title">Advanced</div>
  <hr>
  <div class="section">

    <div class="example">
        <div class="title">Pre-transition onClick action</div>
        <div class="demo">
          {{! BEGIN-SNIPPET pre-transition-action }}
          {{frost-link 'Watch for a notification' 'link.min'
            priority='secondary'
            size='small'
            onClick=(action 'preTransition')
          }}
          {{! END-SNIPPET }}
        </div>
        <div class="snippet">
          {{code-snippet name='pre-transition-action.hbs'}}
          {{code-snippet name='pre-transition-action.js'}}
        </div>
      </div>
    </div>

  {{outlet}}
</div>
