<div class="dummy-body link">
  <div class="section-title">Primary</div>

  <div class="section">

    <div class="example">
      <div class="title">Small</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='small'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='small'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Medium</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='medium'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='medium'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Large</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='large'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='large'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Disabled</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='small'
          disabled=true
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='small'
  disabled=true
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

  </div>

  <hr>

  <div class="section-title">Secondary</div>
  <div class="section">

    <div class="example">
      <div class="title">Small</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='small'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='small'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Medium</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='medium'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='medium'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Large</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='large'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='large'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">Disabled</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='small'
          disabled=true
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='small'
  disabled=true
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

  </div>

  <hr>
  <div class="section-title">Tertiary</div>
  <div class="section">

    <div class="example">
      <div class="title">Size based on font</div>
      <div class="demo">
        <div class='extra-padding'>
          <span style="font-size: {{fontSize}}px">
            Lorem
            {{#frost-link 'link.min'
              priority='tertiary'
            }}
              Link one
            {{/frost-link}}
            Ipsum
          </span>
        </div>
        <div class="actions">
          {{frost-button
            onClick=(action 'increase' fontSize)
            priority='primary'
            size='medium'
            text='Increase font'
          }}

          {{frost-button
            onClick=(action 'decrease' fontSize)
            priority='primary'
            size='medium'
            text='Decrease font'
          }}
        </div>
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='tertiary'
}}
  Link one
{{/frost-link}}
```"}}
      </div>
    </div>


  <div class="example">
      <div class="title">Disabled</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='tertiary'
          disabled=true
        }}
          Link one
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='tertiary'
  disabled=true
}}
  Link one
{{/frost-link}}
```"}}
      </div>
    </div>
  </div>


  <hr>
  <div class="section-title">Actions</div>
  <div class="section">
    <div class="example">
      <div class="title">Action</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar-action'
          icon='frost/infobar-find'
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar-action'
  icon='frost/infobar-find'
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>
  </div>

  {{outlet}}
</div>
