<div class="dummy-body link">
  <div class="section-title">Primary</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySmallLink'
          priority='primary'
          size='small'
        }}
      </div>
      <div class="snippet">
      {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='mySmallLink'
  priority='primary'
  size='small'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='myMediumLink'
          priority='primary'
          size='medium'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='myMediumLink'
  priority='primary'
  size='medium'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='myLargeLink'
          priority='primary'
          size='large'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='myLargeLink'
  priority='primary'
  size='large'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='myDisabledLink'
          priority='primary'
          size='small'
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='myDisabledLink'
  priority='primary'
  size='small'
  disabled=true
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='myTabIndexLink'
          priority='primary'
          size='small'
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='myTabIndexLink'
  priority='primary'
  size='small'
  tabindex='-1'
}}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">multiple routes names (deprecated)</div>
      <div class="demo">
        {{frost-link 'Text'
          hook='myMultipleRoutesLink'
          priority='primary'
          routeNames=(array
            'link.min'
            'link.max'
          )
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text'
  hook='myMultipleRoutesLink'
  priority='primary'
  routeNames=(array
    'link.min'
    'link.max'
  )
  size='small'
}}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">multiple routes names - block format (deprecated)</div>
      <div class="demo">
        {{#frost-link
          hook='myMultipleRoutesBlockFormatLink'
          priority='primary'
          routeNames=(array
            'link.min'
            'link.max'
            'link.middle'
          )
          size='small'
        }}
          Text
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link
  hook='myMultipleRoutesBlockFormatLink'
  priority='primary'
  routeNames=(array
    'link.min'
    'link.max'
    'link.middle'
  )
  size='small'
}}
  Text
{{/frost-link}}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">multiple routes</div>
      <div class="demo">
        {{frost-link 'Text'
          hook='myMultipleRoutesLink'
          priority='primary'
          routes=(array
            (hash
              name= 'link.first'
              models= (array '1')
            )
            (hash
              name= 'link.first.second'
              models= (array '1' '2')
            )
          )
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text'
  hook='myMultipleRoutesLink'
  priority='primary'
  routes=(array
    (hash
      name= 'link.first'
      models= (array '1')
    )
    (hash
      name= 'link.first.second'
      models= (array '2')
    )
  )
  size='small'
}}
  ```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">external link</div>
      <div class="demo">
        {{frost-external-link
          hook='mySmallLink'
          href='https://github.com/ciena-frost'
          priority='primary'
          size='small'
          text='Text'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-external-link
  hook='mySmallLink'
  href='https://github.com/ciena-frost'
  priority='primary'
  size='small'
  text='Text'
}}
```"}}
      </div>
    </div>
    <div class="example">
      <div class="title">external link - custom target</div>
      <div class="demo">
        {{frost-external-link
          hook='mySmallLink'
          href='https://github.com/ciena-frost'
          priority='primary'
          size='small'
          target='_self'
          text='Text'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-external-link
  hook='mySmallLink'
  href='https://github.com/ciena-frost'
  priority='primary'
  size='small'
  target='_self'
  text='Text'
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">Secondary</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySecondarySmallLink'
          priority='secondary'
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='mySecondarySmallLink'
  priority='secondary'
  size='small'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySecondaryMediumLink'
          priority='secondary'
          size='medium'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='mySecondaryMediumLink'
  priority='secondary'
  size='medium'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySecondaryLargeLink'
          priority='secondary'
          size='large'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'Text' 'link.min'
  hook='mySecondaryLargeLink'
  priority='secondary'
  size='large'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          disabled=true
          hook='mySecondaryDisabledLink'
          priority='secondary'
          size='small'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  disabled=true
  hook='mySecondaryDisabledLink'
  priority='secondary'
  size='small'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-link 'Text' 'link.min'
          hook='mySecondaryTabIndexLink'
          priority='secondary'
          size='small'
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-link 'Text' 'link.min'
  hook='mySecondaryTabIndexLink'
  priority='secondary'
  size='small'
  tabindex='-1'
}}
```"}}
      </div>
    </div>
        <div class="example">
      <div class="title">external link</div>
      <div class="demo">
        {{frost-external-link
          hook='mySmallLink'
          href='https://github.com/ciena-frost'
          priority='secondary'
          size='small'
          text='Text'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-external-link
  hook='mySmallLink'
  href='https://github.com/ciena-frost'
  priority='secondary'
  size='small'
  text='Text'
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">Design</div>
  <hr>
  <div class="section">

  <div class="example">
      <div class="title">inline (font based on size)</div>
      <div class="demo">
        <div class='extra-padding'>
          <span style={{fontSizeStyle}}>
            lorem
            {{#frost-link 'link.min'
              design='inline'
              hook='myInlineLink'
            }}
              link
            {{/frost-link}}
            Ipsum
          </span>
        </div>
        <div>
          {{frost-button
            hook='increaseFontSizeButton'
            onClick=(action 'increase' fontSize)
            priority='primary'
            size='small'
            text='Increase font'
          }}

          {{frost-button
            hook='decreaseFontSizeButton'
            onClick=(action 'decrease' fontSize)
            priority='primary'
            size='small'
            text='Decrease font'
          }}
        </div>
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
  hook='myInlineLink'
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

     <div class="example">
      <div class="title">disabled inline</div>
      <div class="demo">
        lorem
        {{#frost-link 'link.min'
          design='inline'
          disabled=true
          hook='myDisabledInlineLink'
        }}
          link
        {{/frost-link}}
        ipsum
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
  disabled=true
  hook='myDisabledInlineLink'
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar'
          hook='myInfoBarLink'
          icon='round-add'
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar'
  hook='myInfoBarLink'
  icon='round-add'
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          disabled=true
          design='info-bar'
          hook='myDisabledInfoBarLink'
          icon='round-add'
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  disabled=true
  hook='myDisabledInfoBarLink'
  design='info-bar'
  icon='round-add'
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>


  </div>

  <div class="section-title">Advanced</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">Pre-transition onClick action</div>
      <div class="demo">
        {{! BEGIN-SNIPPET pre-transition-action }}
        {{frost-link 'Watch for a notification' 'link.min'
          hook='myOnClickActionLink'
          priority='secondary'
          size='small'
          onClick=(action 'preTransition')
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='pre-transition-action.hbs'}}
        {{code-snippet name='pre-transition-action.js'}}
      </div>
    </div>
  </div>
  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET link-other-spread }}
        {{frost-link
          options=(hash
            hook='mySpreadLink'
            priority='secondary'
            route='link.first'
            routeModels=(array 1)
            routeQueryParams=(hash foo='bar')
            size='small'
            text='Text'
          )
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='link-other-spread.hbs'}}
      </div>
    </div>
  </div>

  <div class='section-title'>Testing</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Positional params</div>
      <div class='demo'>
        <div class='dummy-header'>Model - ID</div>
        {{#frost-link 'link.first' 1 hook='myLink1' id='model-id'}}
          First : 1
        {{/frost-link}}

        <div class='dummy-header'>Model - ID, Query params</div>
        {{#frost-link 'link.first' 2 (query-params foo='bar') hook='myLink2' id='query-params'}}
          First : 2 (?foo=bar)
        {{/frost-link}}

        <div class='dummy-header'>Model - Object</div>
        {{#frost-link 'link.first' first hook='myLink3' id='model-object'}}
          First : 'custom first'
        {{/frost-link}}

        <div class='dummy-header'>Nested Model - ID</div>
        {{#frost-link 'link.first.second' 1 2 hook='myLink4' id='nested-model-id'}}
          First : 1 / Second : 2
        {{/frost-link}}

        <div class='dummy-header'>Nested Model - Object</div>
        {{#frost-link 'link.first.second' first second hook='myLink5' id='nested-model-object'}}
          First : 'custom first' / Second : 'custom second'
        {{/frost-link}}

        <div class='dummy-header'>Nested Model - Mixed ID/Object</div>
        {{#frost-link 'link.first.second' first 2 hook='myLink6' id='nested-model-mixed'}}
          First : 'custom first' / Second : 2
        {{/frost-link}}
      </div>

      <div class='title'>Spread</div>
      <div class='demo'>
        <div class='dummy-header'>Basic</div>
        {{frost-link hook='myLink7' id='spread-basic' options=(hash
          route='link.min'
          text='Basic'
        )}}

        <div class='dummy-header'>Model - ID</div>
        {{frost-link hook='myLink8' id='spread-model-id' options=(hash
          route='link.first'
          routeModels=(array 1)
          text='First : 1'
        )}}

        <div class='dummy-header'>Model - ID, Query params</div>
        {{frost-link hook='myLink9' id='spread-query-params' options=(hash
          route='link.first'
          routeModels=(array (hash id=3 text='custom first'))
          routeQueryParams=(hash foo='bar')
          text='First : custom first (?foo=bar)'
        )}}

        <div class='dummy-header'>Model - Object</div>
        {{frost-link hook='myLink10' id='spread-model-object' options=(hash
          route='link.first'
          routeModels=(array (hash id=3 text='custom first'))
          text='First : custom first'
        )}}

        <div class='dummy-header'>Nested Model - ID</div>
        {{frost-link hook='myLink11' id='spread-nested-model-id' options=(hash
          route='link.first.second'
          routeModels=(array 1 2)
          text='First : 1 / Second : 2'
        )}}

        <div class='dummy-header'>Nested Model - Object</div>
        {{frost-link hook='myLink12' id='spread-nested-model-object' options=(hash
          route='link.first.second'
          routeModels=(array (hash id=3 text='custom first') (hash id=4 text='custom second'))
          text='First : custom first / Second : custom second'
        )}}

        <div class='dummy-header'>Nested Model - Mixed ID/Object</div>
        {{frost-link hook='myLink13' id='spread-nested-model-mixed' options=(hash
          route='link.first.second'
          routeModels=(array (hash id=3 text='custom first') 2)
          text='First : custom first / Second : 2'
        )}}
      </div>
    </div>
  </div>
  {{outlet}}
</div>
