<div class="dummy-body link">

  <div class="section-title">Primary</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{#frost-link 'link.min'
          hook='mySmallLink'
          priority='primary'
          size='small'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  hook='mySmallLink'
  priority='primary'
  size='small'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='medium'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='medium'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='large'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='large'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='small'
          disabled=true
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='small'
  disabled=true
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='primary'
          size='small'
          tabindex='-1'
        }}
          Primary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='primary'
  size='small'
  tabindex='-1'
}}
  Primary
{{/frost-link}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Secondary</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">small</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='small'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='small'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">medium</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='medium'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='medium'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">large</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='large'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='large'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='small'
          disabled=true
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='small'
  disabled=true
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{#frost-link 'link.min'
          priority='secondary'
          size='small'
          tabindex='-1'
        }}
          Secondary
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  priority='secondary'
  size='small'
  tabindex='-1'
}}
  Secondary
{{/frost-link}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Design</div>
  <hr>
  <div class="section">

  <div class="example">
      <div class="title">in-line (font based on size)</div>
      <div class="demo">
        <div class='extra-padding'>
          <span style="font-size: {{fontSize}}px">
            lorem
            {{#frost-link 'link.min'
              design='inline'
            }}
              link
            {{/frost-link}}
            Ipsum
          </span>
        </div>
        <div>
          {{frost-button
            onClick=(action 'increase' fontSize)
            priority='primary'
            size='small'
            text='Increase font'
          }}

          {{frost-button
            onClick=(action 'decrease' fontSize)
            priority='primary'
            size='small'
            text='Decrease font'
          }}
        </div>
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

     <div class="example">
      <div class="title">disabled in-line</div>
      <div class="demo">
        lorem
        {{#frost-link 'link.min'
          design='inline'
          disabled=true
        }}
          link
        {{/frost-link}}
        ipsum
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='inline'
  disabled=true
}}
  link
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar'
          icon='frost/infobar-find'
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar'
  icon='frost/infobar-find'
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled info-bar</div>
      <div class="demo">
        {{#frost-link 'link.min'
          design='info-bar'
          icon='frost/infobar-find'
          disabled=true
        }}
          Action
        {{/frost-link}}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{#frost-link 'link.min'
  design='info-bar'
  icon='frost/infobar-find'
  disabled=true
}}
  Action
{{/frost-link}}
```"}}
      </div>
    </div>


  </div>

  <div class="section-title">Advanced</div>
  <hr>
  <div class="section">

    <div class="example">
        <div class="title">Pre-transition onClick action</div>
        <div class="demo">
          {{! BEGIN-SNIPPET pre-transition-action }}
          {{#frost-link 'link.min'
            priority='secondary'
            size='small'
            onClick=(action 'preTransition')
          }}
            Watch for a notification
          {{/frost-link}}
          {{! END-SNIPPET }}
        </div>
        <div class="snippet">
          {{code-snippet name='pre-transition-action.hbs'}}
          {{code-snippet name='pre-transition-action.js'}}
        </div>
      </div>
    </div>

  {{outlet}}
</div>
