<div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>


<div class='dummy-body button'>
  <div class='section'>

    <div class='example'>
      <div class='title'>Primary</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Secondary</div>
      <div class='demo'>
        {{frost-button
          priority='secondary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='secondary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Tertiary</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>



    <div class='example'>
      <div class='title'>Size - small</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Size - medium</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='medium'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='medium'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Size - large</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='large'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='large'
  text='Action'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Icon - small</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='small'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='small'
  icon='frost/add'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Icon - medium</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='medium'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='medium'
  icon='frost/add'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Icon - large</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='large'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='large'
  icon='frost/add'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Disabled</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='medium'
          text='Action'
          disabled=true
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='medium'
  text='Action'
  disabled=true
}}
```"}}
      </div>
    </div>


  <div class='example'>
      <div class='title'>Autofocus</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='medium'
          text='Action'
          autofocus=true
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='medium'
  text='Action'
  autofocus=true
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Icon and Info - horizontal</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='extra-large'
          icon='frost/add'
          text='Text'
          subtext='Subtext'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='extra-large'
  icon='frost/add'
  text='Text'
  subtext='Subtext'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Icon and Info - vertical</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='extra-large'
          vertical=true
          icon='frost/add'
          text='Text'
          subtext='Subtext'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='extra-large'
  vertical=true
  icon='frost/add'
  text='Text'
  subtext='Subtext'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Icon and Text - horizontal</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='extra-large'
          icon='frost/add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='extra-large'
  icon='frost/add'
  text='Text'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>Icon and Text - vertical</div>
      <div class='demo'>
        {{frost-button
          priority='confirm'
          size='extra-large'
          vertical=true
          icon='frost/add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='extra-large'
  vertical=true
  icon='frost/add'
  text='Text'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>Design - tab</div>
      <div class='demo'>
        {{frost-button
          design='tab'
          text='Design Tab'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  design='tab'
  text='Design Tab'
}}
```"}}
      </div>
    </div>



  </div>

  <hr>

  <div class='section'>

    <div class="example">
      <div class="title">Events: onClick</div>
      <div class="demo">
        {{frost-button
          priority='confirm'
          size='medium'
          text='Action'
          onClick=(action 'onClickHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-button
  priority='confirm'
  size='medium'
  text='Action'
  onClick=(action 'onClickHandler')
}}
```"
        }}
      </div>
    </div>
  </div>

</div>
