<div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>


<div class='dummy-body button'>

  <div class="section-title">Primary</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='medium'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='medium'
  text='Action'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='large'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='large'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='medium'
          disabled=true
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='medium'
  disabled=true
  text='Action'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Secondary</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-button
          priority='secondary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='secondary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-button
          priority='secondary'
          size='medium'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='secondary'
  size='medium'
  text='Action'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-button
          priority='secondary'
          size='large'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='secondary'
  size='large'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled</div>
      <div class='demo'>
        {{frost-button
          priority='secondary'
          size='medium'
          disabled=true
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='secondary'
  size='medium'
  disabled=true
  text='Action'
}}
```"}}
      </div>
    </div>

  </div>


  <div class="section-title">Tertiary</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='small'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='small'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='medium'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='medium'
  text='Action'
}}
```"}}
      </div>
    </div>


    <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='large'
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='large'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='medium'
          disabled=true
          text='Action'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='medium'
  disabled=true
  text='Action'
}}
```"}}
      </div>
    </div>

  </div>


  <div class="section-title">Icon</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='small'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='small'
  icon='frost/add'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='medium'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='medium'
  icon='frost/add'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='large'
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='large'
  icon='frost/add'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled</div>
      <div class='demo'>
        {{frost-button
          priority='primary'
          size='medium'
          disabled=true
          icon='frost/add'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='medium'
  disabled=true
  icon='frost/add'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Icon and Text</div>
  <hr>
  <div class='section'>

    <div class='example'>
      <div class='title'>small</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='small'
          icon='frost/round-add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='small'
  icon='frost/round-add'
  text='Text'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>medium</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='medium'
          icon='frost/round-add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='medium'
  icon='frost/round-add'
  text='Text'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>large</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='large'
          icon='frost/round-add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='large'
  icon='frost/round-add'
  text='Text'
}}
```"}}
      </div>
    </div>

    <div class='example'>
      <div class='title'>disabled</div>
      <div class='demo'>
        {{frost-button
          priority='tertiary'
          size='medium'
          disabled=true
          icon='frost/round-add'
          text='Text'
        }}
      </div>
      <div class='snippet'>
        {{format-markdown "```handlebars
{{frost-button
  priority='tertiary'
  size='medium'
  disabled=true
  icon='frost/round-add'
  text='Text'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Design</div>
  <hr>
  <div class='section'>

    <div class="example">
      <div class="title">info-bar</div>
      <div class="demo">
        {{frost-button
          design='info-bar'
          icon='frost/infobar-find'
          text='Action'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-button
  design='info-bar'
  icon='frost/infobar-find'
  text='Action'
}}
```"}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled info-bar</div>
      <div class="demo">
        {{frost-button
          design='info-bar'
          icon='frost/infobar-find'
          text='Action'
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-button
  design='info-bar'
  icon='frost/infobar-find'
  text='Action'
  disabled=true
}}
```"}}
      </div>
    </div>

  </div>

 <div class="section-title">Events</div>
  <hr>
  <div class='section'>
    <div class="example">
      <div class="title">onClick</div>
      <div class="demo">
        {{frost-button
          priority='confirm'
          size='medium'
          text='Action'
          onClick=(action 'onClickHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-button
  priority='primary'
  size='medium'
  text='Action'
  onClick=(action 'onClickHandler')
}}
```"
        }}
      </div>
    </div>

  </div>

</div>
