<div class="dummy-body textarea">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
        <div class="demo">
          {{frost-textarea}}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-textarea}}
  ```"
          }}
        </div>
    </div>
  </div>

  <div class="section-title">State</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{frost-textarea
          class='error'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  class='error'
}}
```"
        }}
      </div>
    </div>
    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{frost-textarea
          disabled=true
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  disabled=true
}}
```"
        }}
      </div>
    </div>

  </div>

  <div class="section-title">Options</div>
  <hr>
  <div class="section">
    <div class="example">
        <div class="title">placeholder</div>
        <div class="demo">
          {{frost-textarea
            placeholder='Text goes here!'
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-textarea
  placeholder='Text goes here!'
}}
  ```"
          }}
        </div>
    </div>
    <div class="example">
      <div class="title">cols & rows</div>
      <div class="demo">
        {{frost-textarea
          cols="80"
          rows="6"
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  cols='80'
  rows='6'
}}
```"
        }}
      </div>
    </div>
    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{frost-textarea
          placeholder='Un-tabbable'
          tabindex='-1'
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  placeholder='Un-tabbable'
  tabindex='-1'
}}
  ```"
        }}
      </div>
    </div>

  </div>

  <div class="section-title">Events</div>
  <hr>
  <div class="section">

    <div class="example">
      <div class="title">onFocus, onBlur</div>
      <div class="demo">
        {{frost-textarea
          onBlur=(action "onBlurHandler")
          onFocus=(action "onFocusHandler")
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  onBlur=(action 'onBlurHandler')
  onFocus=(action 'onFocusHandler')
}}
```"
        }}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{frost-textarea
          onInput=(action "onInputHandler")
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-textarea
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>

  </div>
</div>
