<div class="dummy-body textarea">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
        <div class="demo">
          {{! BEGIN-SNIPPET textarea }}
          {{frost-textarea}}
          {{! END-SNIPPET }}
        </div>
        <div class="snippet">
          {{code-snippet name='textarea.hbs'}}
        </div>
    </div>
  </div>

  <div class="section-title">State</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">error</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-error }}
        {{frost-textarea
          class='error'
          hook='myTextarea'
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-error.hbs'}}
      </div>
    </div>

    <div class="example">
      <div class="title">disabled</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-disabled }}
        {{frost-textarea
          disabled=true
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-disabled.hbs'}}
      </div>
    </div>

    <div class="example">
      <div class="title">readonly</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-readonly }}
        {{frost-textarea
          value='readonly'
          readonly=true
        }}
        {{! END-SNIPPET }}
      </div>

      <div class="snippet">
        {{code-snippet name='textarea-readonly.hbs'}}
      </div>
    </div>
  </div>

  <div class="section-title">Options</div>
  <hr>
  <div class="section">
    <div class="example">
        <div class="title">placeholder</div>
        <div class="demo">
          {{! BEGIN-SNIPPET textarea-placeholder }}
          {{frost-textarea
            placeholder='Text goes here!'
          }}
          {{! END-SNIPPET }}
        </div>
        <div class="snippet">
          {{code-snippet name='textarea-placeholder.hbs'}}
        </div>
    </div>

    <div class="example">
      <div class="title">cols & rows</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-cols&rows }}
        {{frost-textarea
          cols=80
          rows=6
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-cols&rows.hbs'}}
      </div>
    </div>

    <div class="example">
      <div class="title">tabindex</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-tabindex }}
        {{frost-textarea
          placeholder='Un-tabbable'
          tabindex=-1
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-tabindex.hbs'}}
      </div>
    </div>

    <div class="example">
    <div class="title">autofocus</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-autofocus }}
        {{frost-textarea
          autofocus=true
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-autofocus.hbs'}}
      </div>
    </div>

    <div class="example">
      <div class="title">value</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-value }}
        {{frost-textarea
          value='value'
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-value.hbs'}}
      </div>
    </div>
  </div>

  <div class="section-title">Events</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="title">onFocus, onBlur</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-onFocus&onBlur }}
        {{frost-textarea
          onFocus=(action 'onFocusHandler')
          onBlur=(action 'onBlurHandler')
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
        {{code-snippet name='textarea-onFocus&onBlur.hbs'}}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{! BEGIN-SNIPPET textarea-onInput }}
        {{frost-textarea
          onInput=(action 'onInputHandler')
        }}
        {{! END-SNIPPET }}
      </div>
      <div class="snippet">
      {{code-snippet name='textarea-onInput.hbs'}}
      </div>
    </div>
    
  </div>
</div>
