<div class="dummy-body icon">

  <div class="section-title">Default (icons from the Frost icon pack)</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{!-- Using the legacy nested format until the feature is available and svgs can be moved --}}
        {{frost-icon
          hook='myRoundIcon'
          icon='round-add'
        }}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-icon
  hook='myRoundIcon'
  icon='round-add'
}}
```"}}
      </div>
    </div>
  </div>

  <div class="section-title">Icon pack</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{!-- Using the legacy nested format until the feature is available and svgs can be moved --}}
        {{frost-icon
          hook='myIconPackIcon'
          pack='frost'
          icon='round-add'
        }}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-icon
  hook='myIconPackIcon'
  pack='frost'
  icon='round-add'
}}
```"}}
      </div>
    </div>
  </div>

  <div class='section-title'>Other</div>
  <hr>
  <div class='section'>
    <div class='example'>
      <div class='title'>Spread</div>
      <div class='demo'>
        {{! BEGIN-SNIPPET icon-other-spread }}
        {{frost-icon
          options=(hash
            hook='mySpreadIcon'
            icon='round-add'
            pack='frost'
          )
        }}
        {{! END-SNIPPET }}
      </div>
      <div class='snippet'>
        {{code-snippet name='icon-other-spread.hbs'}}
      </div>
    </div>
  </div>

  <div class="section-title">Available Icons</div>
  <hr>
  <div class="background-chooser {{ backgroundColor }}-selected">
    <h3>Background Color</h3>
    {{#each backgroundColors as |bgColor| }}
      <button {{ action 'colorSelected' bgColor }} class="{{ bgColor }}"></button>
    {{/each}}
  </div>

  <div class="icon-demo">
    <div class='icon-pack'>
      <div class='name'>
        Icon Pack: Frost
      </div>
      <div class='icons'>
        {{#each icons as |icon|}}
          <div class="entry">
            <div class="title">
              {{format-markdown icon.markdown}}
            </div>
            <div class="content" class="{{backgroundColor}}">
              {{frost-icon
                hook=(concat icon.name 'Icon')
                icon=icon.name
              }}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>
