<div class="dummy-body icon">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-icon
          icon='frost/round-add'
        }}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-icon
  icon='frost/round-add'
}}
```"}}
      </div>
    </div>

  </div>
  
  <div class="section-title">Icon pack</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo">
        {{frost-icon
          pack='frost'
          icon='frost/round-add'
        }}
      </div>

      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-icon
  pack='frost'
  icon='frost/round-add'
}}
```"}}
      </div>
    </div>

  </div>

  <div class="section-title">Available Icons</div>
  <hr>
  <div class="background-chooser {{ backgroundColor }}-selected">
    <h3>Background Color</h3>
    {{#each backgroundColors as |bgColor index| }}
      <button {{ action 'colorSelected' bgColor }} class="{{ bgColor }}"></button>
    {{/each}}
  </div>

  <div class="icon-demo">
    {{#each iconPacks as |iconPack|}}
      <div class='icon-pack'>
        <div class='name'>
          Icon Pack: {{iconPack.name}}
        </div>
        <div class='icons'>
          {{#each iconPack.icons as |icon|}}
            <div class="entry">
              <div class="title">
                {{format-markdown icon.markdown}}
              </div>
              <div class="content" class="{{backgroundColor}}">
                {{frost-icon icon=icon.name}}
              </div>
            </div>
          {{/each}}
         </div>
      </div>
    {{/each}}
  </div>

</div>
