<h2>frost-icon</h2>

{{format-markdown "```handlebars
{{frost-icon icon=<icon-name>}}
```"
}}

The &lt;icon-name&gt; above can be any of the names shown below, for instance:

{{format-markdown "```handlebars
{{frost-icon icon=\"frost/add\"}}
```"
}}

<div class="background-chooser {{ backgroundColor }}-selected">
  <h3>Background Color</h3>
  {{#each backgroundColors as |bgColor index| }}
    <button {{ action 'colorSelected' bgColor }} class="{{ bgColor }}"></button>
  {{/each}}
</div>

<div class="demo">
{{#each entries as |entry|}}
  <div class="entry">
    <div class="title">
      {{format-markdown entry.markdown }}
    </div>
    <div class="content" class="{{ backgroundColor }}">
      {{frost-icon icon=entry.icon}}
    </div>
  </div>
{{/each}}
</div>
