<div class="section">
  <div class="title">frost-checkbox</div>
  <div class="example">
    <div class="title">Basic</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox id='basic'}}
```"
}}
    </div>
    <div class="demo">
      {{frost-checkbox id="basic"}}
    </div>
  </div>

  <div class="example">
    <div class="title">Label</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='label'
  label='label'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='label'
        label='label'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Autofocus</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='autofocus'
  autofocus=true
  label='autofocus'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='autofocus'
        autofocus=true
        label='autofocus'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Checked</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='checked'
  checked=true
  label='Checked'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='checked'
        checked=true
        label='Checked'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Disabled</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='disabled'
  disabled=true
  checked=true
  label='disabled'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id="disabled"
        disabled=true
        checked=true
        label='disabled'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Name</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='name'
  name='name'
  label='name'
}}
```"
}}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='name'
        name='name'
        label='name'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">onInput event</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='value'
  onInput=(action 'value')
  label='value'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='value'
        onInput=(action 'value')
        label='value'
      }}
    </div>
  </div>

  <div class="example">
    <div class="title">Error</div>
    <div class="snippet">
{{format-markdown "```handlebars
{{frost-checkbox
  id='errored'
  classNameBindings='error'
  value='value'
  onInput=(action 'value')
  label='errored'
}}
```"
      }}
    </div>
    <div class="demo">
      {{frost-checkbox
        id='errored'
        classNameBindings='error'
        value='value'
        onInput=(action 'value')
        label='errored'
      }}
      {{#frost-button
        class="small secondary"
        on-click=(action "toggleError")
      }}
        <div class="text">Toggle error</div>
      {{/frost-button}}
    </div>
  </div>
</div>
