<div class="dummy-notification-container">
{{#each notifications as |notification|}}
  {{notification-message notification=notification}}
{{/each}}
</div>

<div class="dummy-body text-input field">

  <div class="section-title">Default</div>
  <hr>

    <div class="section">
      <div class="example">
        <div class="demo">
            {{frost-url-input}}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input}}
  ```"
          }}
        </div>
      </div>
    </div>


  <div class="section-title">State</div>
  <hr>
    <div class="section">
      <div class="example">
        <div class="title">error</div>
        <div class="demo">
          {{frost-url-input
            class="error"
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input
  class='error'
}}
  ```"
          }}
        </div>
      </div>

      <div class="example">
        <div class="title">disabled</div>
        <div class="demo">
          {{frost-url-input
            disabled=true
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input
  disabled=true
}}
  ```"
          }}
        </div>
      </div>

      <div class="example">
        <div class="title">disabled value</div>
        <div class="demo">
          {{frost-url-input
            disabled=true
            value="Read only text"
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input
  disabled=true
  value='Read only text'
}}
    ```"
}}
        </div>
      </div>

  </div>

  <div class="section-title">Options</div>
  <hr>

  <div class="section">
      <div class="example">
        <div class="title">placeholder</div>
         <div class="demo">
          {{frost-url-input
            placeholder='basic field'
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input
  placeholder='basic field'
}}
    ```"
          }}
        </div>
      </div>


      <div class="example">
        <div class="title">align</div>
        <div class="demo">
          {{frost-url-input
            align='right'
          }}
        </div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{frost-url-input
  align='right'
}}
    ```"
          }}
        </div>
      </div>
  </div>

  <div class="example">
    <div class="title">tabindex</div>
    <div class="demo">
      {{frost-url-input
        tabindex='-1'
      }}
    </div>
    <div class="snippet">
      {{format-markdown "```handlebars
{{frost-url-input
  tabindex='-1'
}}
```"
      }}
    </div>
  </div>

  <div class="section-title">Events</div>
  <hr>
  <div class='section'>

    <div class="example">
      <div class="title">onFocus, onBlur</div>
      <div class="demo">
        {{frost-url-input
          onBlur=(action 'onBlurHandler')
          onFocus=(action 'onFocusHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-url-input
  onBlur=(action 'onBlurHandler')
  onFocus=(action 'onFocusHandler')
}}
    ```"
        }}
      </div>
    </div>

    <div class="example">
      <div class="title">onInput</div>
      <div class="demo">
        {{frost-url-input
          id='demo-input'
          onInput=(action 'onInputHandler')
        }}
      </div>
      <div class="snippet">
        {{format-markdown "```handlebars
{{frost-text
  id='demo-input'
  onInput=(action 'onInputHandler')
}}
```"
        }}
      </div>
    </div>

  </div>
</div>
